In [1]:
%matplotlib inline
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime


import sys
import warnings
warnings.filterwarnings('ignore')

In [2]:
plt.rcParams['figure.figsize'] = [16, 10]

In [3]:
train_set = pd.read_csv('C:\\Dataset\\train.csv')
test_set = pd.read_csv('C:\\test.csv')

In [4]:
train_set.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [5]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1458644 non-null  object
 1   vendor_id           1458644 non-null  int64
 2   pickup_datetime     1458644 non-null  object
 3   dropoff_datetime    1458644 non-null  object
 4   passenger_count     1458644 non-null  int64
 5   pickup_longitude    1458644 non-null  float64
 6   pickup_latitude     1458644 non-null  float64
 7   dropoff_longitude   1458644 non-null  float64
 8   dropoff_latitude    1458644 non-null  float64
 9   store_and_fwd_flag  1458644 non-null  object
 10  trip_duration       1458644 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB

In [6]:
train_set.describe()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
count,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06
mean,1.534950e+00,1.664530e+00,-7.397349e+01,4.075092e+01,-7.397342e+01,4.075180e+01,9.594923e+02
std,4.987772e-01,1.314242e+00,7.090186e-02,3.288119e-02,7.064327e-02,3.589056e-02,5.237432e+03
min,1.000000e+00,0.000000e+00,-1.219333e+02,3.435970e+01,-1.219333e+02,3.218114e+01,1.000000e+00
25%,1.000000e+00,1.000000e+00,-7.399187e+01,4.073735e+01,-7.399133e+01,4.073588e+01,3.970000e+02
50%,2.000000e+00,1.000000e+00,-7.398174e+01,4.075410e+01,-7.397975e+01,4.075452e+01,6.620000e+02
75%,2.000000e+00,2.000000e+00,-7.396733e+01,4.076836e+01,-7.396301e+01,4.076981e+01,1.075000e+03
max,2.000000e+00,9.000000e+00,-6.133553e+01,5.188108e+01,-6.133553e+01,4.392103e+01,3.526282e+06

In [7]:
train_set = train_set.drop_duplicates()

In [8]:
test_set = test_set.drop_duplicates()

In [9]:
train_set['trip_duration'].min()

1

In [10]:
train_set['trip_duration'].max()

3526282

In [11]:
train_set['passenger_count'].min()

0

In [12]:
test_set['passenger_count'].min()

0

There are some outliers associated with the 'trip_duration' variable, specifically a 980 hour maximum trip duration and a minimum of 1 second trip duration. Data that lies outside 2 standard deviations from the mean is excluded.

In [13]:
m = np.mean(train_set['trip_duration'])
s = np.std(train_set['trip_duration'])

In [14]:
print (m)
print (s)

959.4922729603659
5237.429929188888

In [15]:
train_set = train_set[train_set.trip_duration <= m + 2*s]
train_set = train_set[train_set.trip_duration >= m - 2*s]

In [16]:
#Clean up by passenger count (greater than 0, must have a passenger)
train_set = train_set[train_set.passenger_count > 0]

In [17]:
#Clean up by passenger count (greater than 0, must have a passenger)
test_set = test_set[test_set.passenger_count > 0]

In [18]:
#Coordinates for New York:longitude(-74.03,-73.75),latitude=(40.63, 40.85)

#clean up of pickup coordinates in the train dataset--

#Latitude------------------------------------------------------
train_set = train_set[train_set.pickup_latitude <= 40.85]
train_set = train_set[train_set.pickup_latitude >= 40.63]
#Longitude-----------------------------------------------------
train_set = train_set[train_set.pickup_longitude <= -73.75]
train_set = train_set[train_set.pickup_longitude >= -74.03]

#clean up of dropoff coordinates--

#Latitude------------------------------------------------------
train_set = train_set[train_set.dropoff_latitude <= 40.85]
train_set = train_set[train_set.dropoff_latitude >= 40.63]
#Longitude-----------------------------------------------------
train_set = train_set[train_set.dropoff_longitude <= -73.75]
train_set = train_set[train_set.dropoff_longitude >= -74.03]

In [19]:
#Coordinates for New York:longitude(-74.03,-73.75),latitude=(40.63, 40.85)

#clean up of pickup coordinates in the test dataset--

#Latitude------------------------------------------------------
test_set = test_set[test_set.pickup_latitude <= 40.85]
test_set = test_set[test_set.pickup_latitude >= 40.63]
#Longitude-----------------------------------------------------
test_set = test_set[test_set.pickup_longitude <= -73.75]
test_set = test_set[test_set.pickup_longitude >= -74.03]

#clean up of dropoff coordinates--

#Latitude------------------------------------------------------
test_set = test_set[test_set.dropoff_latitude <= 40.85]
test_set = test_set[test_set.dropoff_latitude >= 40.63]
#Longitude-----------------------------------------------------
test_set = test_set[test_set.dropoff_longitude <= -73.75]
test_set = test_set[test_set.dropoff_longitude >= -74.03]

In [20]:
#Formatting of 'datetime' 
train_set['pickup_datetime'] = pd.to_datetime(train_set.pickup_datetime)
test_set['pickup_datetime'] = pd.to_datetime(test_set.pickup_datetime)

train_set.loc[:, 'pickup_date'] = train_set['pickup_datetime'].dt.date
test_set.loc[:, 'pickup_date'] = test_set['pickup_datetime'].dt.date

train_set['dropoff_datetime'] = pd.to_datetime(train_set.dropoff_datetime)#Not in Test dataset

In [21]:
#Clean up by trip duration
#greater than 6 minutes, less than 2.5 hours
train_set = train_set[train_set.trip_duration >= 360]
train_set = train_set[train_set.trip_duration <= 9000]
train_set.to_csv('cleaned_train_latest.csv')

In [22]:
test_set.to_csv('cleaned_test_latest.csv')

In [81]:
train_set['trip_duration'].max()

8827

In [82]:
train_set['trip_duration'].min()

360

In [83]:
train_set['passenger_count'].min()

1

In [23]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1129662 entries, 0 to 1458642
Data columns (total 12 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1129662 non-null  object
 1   vendor_id           1129662 non-null  int64
 2   pickup_datetime     1129662 non-null  datetime64[ns]
 3   dropoff_datetime    1129662 non-null  datetime64[ns]
 4   passenger_count     1129662 non-null  int64
 5   pickup_longitude    1129662 non-null  float64
 6   pickup_latitude     1129662 non-null  float64
 7   dropoff_longitude   1129662 non-null  float64
 8   dropoff_latitude    1129662 non-null  float64
 9   store_and_fwd_flag  1129662 non-null  object
 10  trip_duration       1129662 non-null  int64
 11  pickup_date         1129662 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(3), object(3)
memory usage: 112.0+ MB

In [ ]:
test_set.info()